

<div class="container">
  <div class="row">
    <div class="col-3">

    </div>
    <div class="col-6">
      <h1>
        ISPC
        </h1>
        <br>
        <h2>
          Proyecto Renovación Sistema Gestión de BIBLIOTECA
          </h2>
          <br>
        <h3>

          Este sistema en una primer instancia esta pensado para sea administrado por una persona, teniendo la posibilidad de crear un usuario, libros y alquileres de los mismo.
          El ejemplo se tomo de desarrollo en java.

          El sistema de biblioteca esta conectado a una base de datos Mysql, con servidores utilizando php y FrontEnd Angular

        </h3>

        <br>
        <p>
          Github: https://github.com/PPROF2-2022ProgWeb/g24-aula2-gimnasio-g24
        </p>
        <br>
        <p>
          Personas: Gustavo Godoy - gustavo@live.com.ar
        </p>
    </div>
    <div class="col-3">

    </div>
  </div>
</div>
