<div *ngIf="usuario" class="container-fluid" >
  <p>Hola {{usuario}} estas en compras</p>
  <div class="row">
    <div class="col-3" id="ColIzq">

      <h1>Compra</h1>
      <form [formGroup]="prodForm" (ngSubmit)="guardar()">
        <div class="form-group" >

          <label for="idproducto">Producto</label>
          <select formControlName="idproducto" class="form-control" name="idproducto" size="1" id="idproducto"  required>
                  <option *ngFor = "let item1 of productos" value="{{item1.id}}" >{{item1.producto}}</option>

                </select>
                <div *ngIf="prodForm.invalid && prodForm.touched" class="errorUsuarios">
                  <span *ngIf="prodForm.controls['idproducto'].errors?.['required']">Producto es requerido </span><br></div>
        </div>

        <div class="form-group">

          <label for="usercompra">usercompra</label>
          <input type="text" formControlName="usercompra" class="form-control" id="usercompra" name="usercompra" value="{{usuario}}" >
</div>

        <div class="form-group">
          <label for="cantidad">cantidad</label>
          <input type="number" formControlName="cantidad" class="form-control" id="cantidad" name="cantidad" required >
        </div>
        <div *ngIf="prodForm.invalid && prodForm.touched" class="errorUsuarios">
          <span *ngIf="prodForm.controls['cantidad'].errors?.['required']">cantidad es requerido </span><br></div>

          <div class="form-group">
            <label for="valor">valor</label>
            <input type="number" formControlName="valor" class="form-control" id="valor" name="valor" (invalid)="prodForm" required>
          </div>
          <div *ngIf="prodForm.invalid && prodForm.touched" class="errorUsuarios">
            <span *ngIf="prodForm.controls['valor'].errors?.['required']">Valor es requerido </span><br></div>

            <div class="form-group">
              <label for="lugarentrega">Lugar de entrega</label>
              <input type="text" formControlName="lugarentrega" class="form-control" id="lugarentrega" name="lugarentrega" required>
            </div>
            <div *ngIf="prodForm.invalid && prodForm.touched" class="errorUsuarios">
              <span *ngIf="prodForm.controls['valor'].errors?.['required']">Lugar de entrega es requerido </span><br></div>

              <div class="form-group">
                <label for="formadepago">Forma de pago</label>
                <input type="text" formControlName="formadepago" class="form-control" id="formadepago" name="formadepago" required>
              </div>
              <div *ngIf="prodForm.invalid && prodForm.touched" class="errorUsuarios">
                <span *ngIf="prodForm.controls['formadepago'].errors?.['required']">Forma de pago es requerido </span><br></div>

        <div class="form-group">
          <label for="obscompra">obscompra</label>
          <input type="text" formControlName="obscompra" class="form-control" id="obscompra" name="obscompra" >
        </div>

        <div class="form-group">
          <label for="tipomovim">tipomovim	</label>
          <input type="text" formControlName="tipomovim" class="form-control" id="tipomovim" name="tipomovim" >
        </div>

        <button class="btn btn-primary" [disabled]="prodForm.invalid" type="submit">Comprar</button>
        </form>
    </div>



    <div class="col-9" id="ColCentral">
<h1>Disponibles</h1>
      <table class = "table table-striped">
        <thead>
            <tr >
                <th>Producto</th>
                <th>Valor</th>
                <th>Resto</th>
                <th colspan="2">imgprod</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let item of productosDisp">
                <!-- {{}} Es interpolación para acceder a los campos -->

                <td>{{item.idproducto}}-{{item.producto}}</td>
                <td>$ {{item.valor}}</td>
                <td>{{item.resto}}</td>
                <td><img class="CssImage" src="{{item.imgprod}}" width="50" height="50" alt="{{item.imgprod}}" />

                </td>
                <td><button class="btn btn-success" (click)="editar(item)" type="button">Seleccionar</button></td>



            </tr>
        </tbody>
    </table>

    </div>


  </div>

    </div>

