
<!DOCTYPE html>
<html lang="es">
  <title>contacto</title>

<head>
	
		<!-- caracter en lenguaje humano -->
  <meta charset="UTF-8">
	<!-- Vista distintas ventanas -->
  <meta  name = "viewport"  content = "width=device-width, initial-scale=1" >
	<!-- Informacion de la pagina -->
  <meta name="Sistema web para gimnasio" content="Pagina de inicio"/>
	<!-- Etiquetas para los bucadores -->
  <meta name="keywords" content="Sistema web, gimnasio, inicio"/>

    
	<!-- Script JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
	<!-- CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >


</head>
<script>
</script>

<body id="estiloBody">
  
<div id="idbreadcrumbs1">
     <a href="index.html"> Home >></a> 
  <a href="sobre_nosotros.html"> Equipo >></a>
  <a href="contacto.html"> Contacto >></a>
  <a href="form_ingreso.html"> Login >></a>
  <a href="alta_cliente.html"> Alta Cliente >></a>
  <a href="help.html"> Ayuda </a>
</div>
<br>
  <div class="container-fluid CentroHome" id="idAyuda">

  <h4>
    <p>
      El sistema XLL es un desarrollo para plataforma Web, este sistema va a permitir a los dueños de gimnasios administrar 
      los planes de ejercicios de sus clientes y de las maquinas que van a usar en dichos planes, permitiendo una mejora en el tiempo
      de uso de cada máquina en los planes, teniendo el cliente siempre una maquina asegurada para su uso.
    </p>
    <p>
      Además, el usuario (Cliente) podrá realizar su entrenamiento con un plan de ejercicio previamente cargado y asistido por un profesional, 
      dependiendo solo del sistema y gestionando sus avance e historial desde la web.
      
</p>
</h4>		
  </div>
  
<br>

<div class="container-fluid CentroHome" >
<h3>Características de los usuarios</h3>
<h4>
<table class="table table-dark">
<tr>
<td>Tipo de usuario: </td>
<td>Administrador </td>
</tr>
<tr>
<td>Formación:</td>
<td>Manejo básico de pc,tablet smart o formularios. Profesional de la actividad</td>
</tr>
<tr>
<td>Actividades:</td>
<td>El ABM de usuarios y planes de ejercicios.</td>
</tr>
<tr>
</tr>
<tr>
  <td>Tipo de usuario: </td>
  <td>Usuario Cliente </td>
</tr>
<tr>
  <td>Formación:</td>
  <td>Manejo básico de pc,tablet smart o formularios.</td>
</tr>
  
<tr>
  <td>Actividades:</td>
  <td>Ver sus planes de ejercicios, informar si 
    termino su ejercicio para liberar la maquina a otro usuario.</td>
</tr>
</table>
    
  
  
</h4>		
</div>

<br>

</body>
</html>