<header class="menu container-fluid centr">

  <nav class="navbar navbar-expand-lg col ">
    <div class="container-fluid" (click)="enviarDato()">
      <!--container-fluid para que ocupe todo el ancho disponible-->
      <a routerLink="home">
        <img class="CssImage" src="assets/img/LogoSF.png" width="50" height="50" alt="Imagen logo" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div id="MenuNavegacion" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item dropdown"><a class="active" routerLink="home" > Principal</a></li>



          <li class="nav-item dropdown"><a class="active" routerLink="Nosotros"> Nosotros </a></li>
          <li  *ngIf="logeado || logeadoAdmin" class="nav-item dropdown" ><a class="active dropdown-toggle" data-bs-toggle="dropdown" role="button"
              aria-expanded="false" routerLink="usuario" >{{Usuarios.id}}{{Usuarios.usuario}}</a>
            <ul class="dropdown-menu subMenu">

              <li  class="dropdown-item "><a class="dropdown-item" routerLink="Compra">Compra</a>

            </ul>
          <li *ngIf="logeadoAdmin"  class="nav-item"><a class="active dropdown-toggle" data-bs-toggle="dropdown" role="button"
              aria-expanded="false" routerLink="admin"> Administrador </a>
            <ul  class="dropdown-menu subMenu">
              <li class="dropdown-item"><a class="dropdown-item" routerLink="Productos">Productos </a>
                <li class="dropdown-item"><a class="dropdown-item" routerLink="Ingreso">Ingreso</a>
              <li class="dropdown-item"><a class="dropdown-item" routerLink="Usuarios">Usuarios</a>
            </ul>
          </li>


        </ul>
        <form *ngIf="!logeado && !logeadoAdmin" name="fomrMenu"  [formGroup]="userForm" (ngSubmit)="ControlarLogin()" >
          <input type="text" class="" id="usuario" name="usuario" [(ngModel)]="Usuarios.usuario"
          formControlName="usuario" placeholder="usuario"/>

          <input type="password" class="" id="password" name="password" [(ngModel)]="Usuarios.password"
          formControlName="password" placeholder="password"/>


          <button class="btn text-white" name="btnLogin" type="submit" >Ingresar</button>

     </form>
     <ul *ngIf="!logeado && !logeadoAdmin" class="nav navbar-nav">
      <li class="nav-item dropdown"><a class="active" routerLink="Registro">Registro</a>
    </ul>
      </div>


      </div>
    </div>
  </nav>


