

/* You can add global styles to this file, and also import other style files */
.errorUsuarios {
  color: red; }
  .CentroHome {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color: white;
    background-color: black;
    align-content: center;
    align-items: center;
    text-align: center;
  /*Puede ser 0.9*/
    opacity: 90%;
    border-radius: 1% 1%;
  }
